
button{
    background-color:rgb(236, 239, 121); 
    color: #7107a6;
    width: 100px;
    height: 55px;
    margin-left: 2%;
    border-radius: 10px;
    border: 3px solid  rgb(168, 104, 241);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    
  cursor: pointer;
}
button:hover{
    animation: bounce 2s infinite;
}


@keyframes bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}

input{
    font-size: 20px;
    letter-spacing: 1px;
    color: #9b36cd;
    background-color: rgb(236, 239, 121); 
    width: 23%;
    height: 50px;
    border-radius: 10px;
    border: 3px solid rgb(168, 104, 241);
    padding-left: 5px;
    
}

input::placeholder{
    color: #7e02bc;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

input:focus, input:hover{
    padding-left: 5px;
    outline: 3px solid transparent;
}


   


