body {
  background-color: #e1d7e1;
}
.calculator {
  margin: 50px auto;
  width: 27%;
  height: 50%;
  border-radius: 20px;
  background: #bbaed4;
  color: #fff;
  font-family: Arial;
  padding: 18px;
  box-shadow: 4px 4px 4px #aba0b7;
}

.screenResult {
  height: 8%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-right: 5px;
}

.screenResult p {
  text-align: right;
  font-size: 7rem;
  margin: 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.firstDigits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondDigits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerDigits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 100px;
  height: 100px;
  background: #a779a7;
  border-radius: 30%;
  text-align: center;
  font-size: 35px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 10px;
  color: #fff;
  border: none;
}

.dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

sup {
  font-size: 14px;
}

.btn:hover {
  filter: brightness(120%);
}

.btn:active {
  filter: brightness(90%);
}

.btn.dark {
  background: #78649d;
}

.pinky {
  width: 100px;
  height: 100px;
  background: #bb9cbb;
  border-radius: 30%;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  user-select: none;
}
