body {
  background-color: #e1d7e1;
}
.calculator {
  margin: 100px auto;
  max-width: 430px;
  max-height: 700px;
  border-radius: 20px;
  background: #bbaed4;
  color: #fff;
  font-family: Arial;
  padding: 20px;
  box-shadow: 4px 4px 4px #aba0b7;
}

.screenResult {
  min-height: 9%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-right: 5px;
}

.screenResult p {
  text-align: right;
  font-size: 7rem;
  margin: 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.firstDigits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondDigits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thirdDigits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 95px;
  height: 95px;
  background: #a779a7;
  border-radius: 30%;
  text-align: center;
  font-size: 35px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 10px;
  color: #fff;
  border: none;
}

.dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

sup {
  font-size: 14px;
}

.btn:hover {
  filter: brightness(120%);
}

.btn:active {
  filter: brightness(90%);
}

.btn.dark {
  background: #78649d;
}

.pinky {
  width: 95px;
  height: 95px;
  background: #bb9cbb;
  border-radius: 30%;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  user-select: none;
}

#clear{
  font-size: 30px;
  color: #78649d;
  background-color: #eacbea;
}
